@page "{resturentId:int}"

<!-- now the page may be access using this /Detail/<id>
    to make sure that that id also go to the
    restaurant variable
    you have to add this configurantion
    in after the page derivatives 
-->
@model DetailModel
@{
}


<center><h2> Resturant Description </h2></center>

@if (Model.Message != null) { 

    <div class="alert alert-info"> @Model.Message</div> 
}

<table class="table table-hover">

    <tr>
        <td>
            <div>
                @Model.Resturant.Id
            </div>

        </td>
        <td>
            <div>
                @Model.Resturant.Name
            </div>

        </td>
        <td>
            <div>
                @Model.Resturant.Cuisine
            </div>

        </td>
        <td>
            <div>
                @Model.Resturant.Location
            </div>

        </td>

    </tr>

</table>

<a asp-page="./List" class="btn btn-danger" > All Resturant</a>